include "%H/.local/share/omarchy/default/xcompose"

# Identification
# Note to self: this is set to capslock by default
<Multi_key> <space> <n> : "{{ .name }}"
<Multi_key> <space> <e> : "{{ .email }}"
