README.md
key.txt.age
.rmembid
.config/beets/state.pickle
.config/zsh/.zcompdump
.config/zsh/.zsh_history

{{ if (and (ne .chezmoi.os "darwin") (ne .chezmoi.os "linux")) }}
.chezmoiscripts/unix/**
.config/doom
.config/fish
.config/zsh
.zshenv
{{ end }}

{{ if eq .chezmoi.os "darwin" }}
.DS_Store
**/.DS_Store
{{ end }}

{{ if ne .chezmoi.os "darwin" }}
.hushlogin
Library
.chezmoiscripts/darwin/**
.warp
.config/iterm2
{{ end }}

{{ if ne .chezmoi.os "windows" }}
AppData
Documents
.chezmoiscripts/windows/**
{{ end }}

{{ if not .flags.wsl }}
.chezmoiscripts/wsl/**
{{ end }}
