README.md
key.txt.age
.rmembid
.config/beets/state.pickle
.config/zsh/.zcompdump
.config/zsh/.zsh_history

{{ if eq .chezmoi.os "darwin" }}
.DS_Store
**/.DS_Store
{{ end }}

{{ if ne .chezmoi.os "darwin" }}
Library
.chezmoiscripts/darwin/**
.warp
.config/iterm2
.zshenv
.config/zsh-abbr
{{ end }}

{{ if eq .chezmoi.os "windows" }}
.hushlogin
.config/doom
.config/fish
.zshenv
{{ end }}

{{ if ne .chezmoi.os "windows" }}
AppData
Documents
{{ end }}

{{ if not .flags.wsl }}
.chezmoiscripts/wsl/**
{{ end }}

{{ if ne .chezmoi.os "linux" }}
.config/hypr
.config/uwsm
.config/walker
.config/waybar
{{ end }}
